
<div class="col-sm-2 col-md-4 col-lg-3 product-item">
    <a routerLink="/"><button class="btn btn-danger" role="button">Back</button></a>
</div>
<div class="col-sm-6 col-md-4 col-lg-3 product-item">
  <div  class="thumbnail">
    <img  alt="Laptop" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5FpRKXeVbKWa1Wo75eOMva5FrE7QCREZgJj8iWNRZf9me2BcCRg">
    <div _ngcontent-mhf-c110="" class="caption">
        <h3 >Laptop</h3>
        <p > Price Rs 750 </p>
        </div>
    </div>
</div>
